[submodule "CSAL"]
	path = CSAL
	url = git@github.com:RICSecLab/CSAL-ThunderX2.git
[submodule "OpenCSD"]
	path = OpenCSD
	url = git@github.com:RICSecLab/OpenCSD-ThunderX2.git
[submodule "coresight-decoder"]
	path = coresight-decoder
	url = git@github.com:RICSecLab/coresight-decoder.git
